@model CouponsKE.Models.Coupon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Coupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Store" class="control-label"></label>
                <input asp-for="Store" class="form-control" />
                <span asp-validation-for="Store" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponCategory" class="control-label"></label>
                <input asp-for="CouponCategory" class="form-control" />
                <span asp-validation-for="CouponCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponCode" class="control-label"></label>
                <input asp-for="CouponCode" class="form-control" />
                <span asp-validation-for="CouponCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restrictions" class="control-label"></label>
                <input asp-for="Restrictions" class="form-control" />
                <span asp-validation-for="Restrictions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponUrl" class="control-label"></label>
                <input asp-for="CouponUrl" class="form-control" />
                <span asp-validation-for="CouponUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreSeller" class="control-label"></label>
                <input asp-for="StoreSeller" class="form-control" />
                <span asp-validation-for="StoreSeller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
