@model CouponsKE.Models.TrackedPrice

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center">Search for a product to save</h4>
<hr />
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <input type="text" class="form-control" placeholder="Enter search item" aria-label="Search item" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-3"></div>
    <div class="form-check col-md-2">
        <input type="checkbox" class="form-check-input" id="searchJumia">
        <label class="form-check-label" for="searchJumia">Jumia</label>
    </div>
    <div class="form-check col-md-2">
        <input type="checkbox" class="form-check-input" id="searchKilimall">
        <label class="form-check-label" for="searchKilimall">Kilimall</label>
    </div>
    <div class="form-check col-md-2">
        <input type="checkbox" class="form-check-input" id="searchMasoko">
        <label class="form-check-label" for="searchMasoko">Masoko</label>
    </div>
    <div class="col-md-3"></div>


    @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <input asp-for="ProductID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesiredPrice" class="control-label"></label>
                <input asp-for="DesiredPrice" class="form-control" />
                <span asp-validation-for="DesiredPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowestPrice" class="control-label"></label>
                <input asp-for="LowestPrice" class="form-control" />
                <span asp-validation-for="LowestPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreWithLowestPrice" class="control-label"></label>
                <input asp-for="StoreWithLowestPrice" class="form-control" />
                <span asp-validation-for="StoreWithLowestPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
